{% extends 'baseBO.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}

    <h2 style="text-align:center;">Hotel </h2><br>

    <table class="table" width="1" height="10"><br>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Localisation</th>
                <th>Nbetoile</th>
                <th>Nbchdispo</th>
                <th>Description_hotel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.libelle }}</td>
                <td>{{ hotel.localisation }}</td>
                <td>{{ hotel.nbetoile }}</td>
                <td>{{ hotel.nbchdispo }}</td>
                <td>{{ hotel.descriptionHotel }}</td>
                
                <td>
                    <a href="{{ path('hotel_show', {'id': hotel.id}) }}">show</a>
                    <a href="{{ path('hotel_edit', {'id': hotel.id}) }}">edit</a>
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hotel_new') }}">Create new</a><br>
{% endblock %}
